* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: calc(100vw - (100vw - 100%)); }

.tips {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px; }
  .tips__titulo {
    width: auto;
    height: auto;
    padding-bottom: 20px;
    color: #fbde83;
    text-align: center;
    text-decoration: underline double; }
  .tips__parrafo {
    max-width: 70vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: justify;
    letter-spacing: 2px; }
  .tips__videos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto; }
    .tips__videos__card {
      max-width: 499px;
      height: auto;
      margin: 0 auto;
      padding: 25px 10px;
      display: flex;
      flex-direction: column; }
      .tips__videos__card__titulo {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        color: purple;
        text-align: center;
        text-decoration: underline; }
      .tips__videos__card__link {
        width: 100%;
        min-height: 300px;
        margin: 0 auto;
        padding-bottom: 10px; }
