/* RESETEO */
ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
header *, .quien__soy *, .footer * {
    width: initial;
    box-sizing: border-box;
}
/* FIN RESETEO */

/* HEADER */
header {
    background-image: url(../../img/derecho-1.png);
    background-size: cover;
}
@media only screen and (max-width: 767px) {
    header {
        height: 100vh;
    }
}
    /* NAVBAR */
    .navbar {
        padding: 25px 25px 0px 25px;
        background-color: initial !important;
    }
    .foto__navbar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .sections__nav a {
        padding: 0px !important;
        margin-left: 10px;
        margin-right: 10px;
        color: #FFDB82 !important;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 1.25rem;
        font-weight: normal;
        letter-spacing: 0.1rem;
        font-family: "Bebas Neue", sans-serif;

        transition-property: color;
        transition-duration: 1.5s;
        transition-delay: 0s;
    }
    .sections__nav a:hover {
        color: #00F6DA !important ;
    }
    .sections__nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    }
    .navbar-brand {
        display: inline;
        flex-grow: 0;
        width: min-content;
    }
    .navbar-toggler {
        padding: 0px;
        height: 35px;
        width: 35px;
        border: none !important;
        cursor: pointer !important;
    }    
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler-icon {
        height: 30px;
        width: 30px;
        border: none !important;
        cursor: pointer !important;
    }
    .social__media__nav ul {
        display: flex;
        justify-content: space-between;
    }
    .social__media__nav li {
        height: 40px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .social__media__nav li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: initial;
        transition-property: background-color;
        transition-duration: 1.5s;
        transition-delay: 0s;

    }
    .social__media__nav li a:hover {
        background-color: #00F6DA;
    }
    .social__media__nav .nav__icon {
        height: 20px;
    }

        @media only screen and (max-width: 992px) {
            .social__media__nav {
                display: none;
            }
        }
        @media only screen and (max-width: 767px) {
            .navbar {
                padding: 25px 5% 0px 5%;
            }
            .foto__navbar {
                width: 40px;
                height: 40px;
            }
            .sections__nav {
                position: absolute;
                top: 100%;
                right: 0px;
                z-index: 2;
                text-align: end;
            }
            .sections__nav a {
                padding: 0px !important;
                text-decoration: none;
                font-size: 1rem;
            }
        }
        @media only screen and (max-width: 600px) {
            .sections__nav a {
                font-size: 1rem;
            }
        }

    /* PORTADA */
    .portada {
        padding: 150px 10% 150px 10%;
    }
    .portada .portada__flex__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

    }
    .portada h2 {
        color: #00F6DA;
        font-family: "Roboto";
        font-weight: normal;
        margin-bottom: 0px;
        font-size: 2rem;
        text-shadow: 1px 1px 4px rgb(54, 51, 51), -1px -1px 4px rgb(54, 51, 51);

    }
    .portada h1 {
        color: #00F6DA;
        font-family: "Bebas Neue";
        font-size: 5.5rem;
        text-shadow: 2px 2px 4px rgb(54, 51, 51), -2px -2px 4px rgb(54, 51, 51);
    }
    .portada h1 span {
        text-decoration: underline 2px solid #FFDB82;
        text-underline-position: under;
    }    
    .portada h3 {
        color: #FFDB82;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .foto__portada {
        width: 300px;
        margin-right: 7%;
        border-radius: 50%;
    }
        @media only screen and (max-width: 767px) {
            .foto__portada {
                display: none;
            }
            .portada {
                position: relative;
                top: -25px;
                height: calc(100% - 75px);
                padding: 0px 5% 0px 5%;
            }
            .portada .portada__flex__container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                /* width: min-content;
                white-space: nowrap;
                margin-left: auto;
                margin-right: auto; */
            }
            .portada h2 {
                font-size: 1.5rem;
            }
            .portada h1 {
                font-size: 4rem;
            }
            .portada h3 {
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
        @media only screen and (max-width: 600px) {
            .portada h2 {
                font-size: 1rem;
            }
            .portada h1 {
                font-size: 2.5rem;
            }
            .portada h3 {
                font-size: 0.9rem;
                line-height: 2rem;
            }
        }
/* FIN HEADER */

/* QUIEN SOY */
.quien__soy {
    padding-top: 125px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}
.sobre__mi {
width: 35%;
padding: 0px 25px 25px 25px;
background-color: rgba(0, 246, 218, 0.4);
font-size: 14px;
font-family: "Lato", sans-serif;
font-weight: normal;
position: relative;
}
.sobre__mi .sobre__mi__titulo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
}
.sobre__mi p {
    margin-bottom: 0.5em;
    text-align: justify;
    line-height: 1.5em;
}
.sobre__mi p:last-of-type {
    margin-bottom: 0px;
}
.sobre__mi .foto__sobre__mi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 150px;
    border-radius: 50%;
}
.video__sobre__mi__container {
    width: 35%;
}
.video__ratio {
    position: relative;
    padding-bottom: 56.25%;

}
.video__sobre__mi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;
}
@media only screen and (max-width: 767px) {
    .quien__soy {
        flex-flow: row wrap;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .foto__sobre__mi {
        width: 100px;
        /* display: none; */
    }
    .sobre__mi {
        width: 90%;
        margin-top: 75px;
        /* padding-top: 25px; */
    }
    .sobre__mi .sobre__mi__titulo {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;
    }
    .video__sobre__mi__container {
        margin-top: 25px;
        width: 90%;
    }
}


/* FOOTER */
.footer {
    background-color: #14274A;
    padding-bottom: 50px;
}
.footer ul {
    display: flex;
    justify-content: center;
}
.footer li {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
}
.footer li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: initial;
    transition-property: background-color;
    transition-duration: 1.5s;
    transition-delay: 0s;
}
.footer li a:hover {
    background-color: #00F6DA;
}
.footer__icon {
    height: 25px;
}
@media only screen and (max-width: 767px) {
    .footer li {
        height: 40px;
        width: 40px;
    }
    .footer__icon {
        height: 20px;
    }
}