.tips {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  padding-top: 100px;
  padding-bottom: 100px;

  background-color: darken(#2c3e50d7, 1%);

  &__titulo {
    width: auto;
    height: auto;

    padding-bottom: 100px;

    color: black;

    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: calc(2rem + 3vw);
  }

  &__parrafo {
    max-width: 900px;
    height: auto;

    margin: 0 auto;
    padding: 0 5px 20px 5px;

    text-align: justify;
    letter-spacing: 2px;

    font-size: x-large;
  }

  &__videos {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto;

    &__card {
      max-width: 650px;
      height: auto;

      margin: 0 auto;
      padding: 25px 10px;

      display: flex;
      flex-direction: column;

      &__titulo {
        width: 100%;
        height: calc(70px + 2vh);

        color: $colorAmarillo;

        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: calc(1rem + 1vw);
      }

      &__link {
        width: 100%;
        min-height: 350px;

        margin: 0 auto;

        border-radius: 10px;
      }
    }
  }
}
