$colorAmarillo: #fbde83;

$colorCeleste: #00f5dc;

$colorTituloSecciones: #030e12;

//test otros colores
$color1: #fcde67c9;
$color2: #5bccf6;

////
// F U E N T E S
//la fuente bienvenidos es roboto - medium
//la fuente del subtitulo aprende y esterate todo es roboto Bold
$fontBienvenidos-: "Roboto", sans-serif;

//la fuente del titulo estudia con manu y de las secciones es bebas neue
$fontTitulos: "Bebas Neue", cursive;

//fuente de "sobre mi" y el texto es Lato regular
$fontSobreMi: "Lato", sans-serif;
