// COLORES
$colorAmarillo: #ffdb82;

$colorGris: #828282;

$colorTurquesa: #00f6da;

$colorTuquesaFondo: #00f6da50;

$colorAzulOscuro: #14274a;

$colorNegro: #030e12;

$colorBlanco: #fff;

// FUENTES
$fontRoboto: "Roboto", sans-serif;

$fontBebas: "Bebas Neue", cursive;

$fontLato: "Lato", sans-serif;
