// COLORES
$colorAmarillo: #ffdb82;

$colorGris: #828282;

$colorTurquesa: #00f6da;

$colorTuquesaFondo: #00f6da24;

$colorTituloSecciones: #030e12;

// //test otros colores
// $color1: #fcde67c9;
// $color2: #5bccf6;

// FUENTES
$fontRoboto: "Roboto", sans-serif;

$fontBebas: "Bebas Neue", cursive;

$fontLato: "Lato", sans-serif;
